# 02_05: Advanced Containers

In [1]:
import math
import collections

import numpy as np
import pandas as pd
import matplotlib.pyplot as pp

%matplotlib inline

In [2]:
people = [("Michele", "Vallisneri", "July 15"),
          ("Albert", "Einstein", "March 14"),
          ("John", "Lennon", "October 9"),
          ("Jocelyn", "Bell Burnell", "July 15")]

In [3]:
people[0][0]

'Michele'

In [4]:
people[0][1]

'Vallisneri'

In [5]:
[person for person in people if person[2] == "July 15"]

[('Michele', 'Vallisneri', 'July 15'), ('Jocelyn', 'Bell Burnell', 'July 15')]

In [6]:
# defining the namedtuple "person"
persontype = collections.namedtuple('person', ['firstname', 'lastname', "birthday"])

In [7]:
michele = persontype("Michele", "Vallisneri", "July 15")

In [8]:
michele = persontype(lastname="Vallisneri", firstname="Michele", birthday="July 15")

In [9]:
michele

person(firstname='Michele', lastname='Vallisneri', birthday='July 15')

In [10]:
michele[0], michele[1], michele[2]

('Michele', 'Vallisneri', 'July 15')

In [11]:
michele.firstname, michele.lastname, michele.birthday

('Michele', 'Vallisneri', 'July 15')

In [12]:
try:
    persontype(people[0])
except Exception as e:
    print("Error :", e)

Error : person.__new__() missing 2 required positional arguments: 'lastname' and 'birthday'

In [13]:
# use tuple unpacking on people[0] to build a namedtuple
persontype(*people[0])

person(firstname='Michele', lastname='Vallisneri', birthday='July 15')

In [14]:
namedpeople = [persontype(*person) for person in people]

In [15]:
namedpeople

[person(firstname='Michele', lastname='Vallisneri', birthday='July 15'),
 person(firstname='Albert', lastname='Einstein', birthday='March 14'),
 person(firstname='John', lastname='Lennon', birthday='October 9'),
 person(firstname='Jocelyn', lastname='Bell Burnell', birthday='July 15')]

In [16]:
[person for person in namedpeople if person.birthday == "July 15"]

[person(firstname='Michele', lastname='Vallisneri', birthday='July 15'),
 person(firstname='Jocelyn', lastname='Bell Burnell', birthday='July 15')]

In [17]:
# !pip install dataclasses

In [18]:
from dataclasses import dataclass

In [19]:
# defining a data class with the same content as the "person" nametuple
# and with a default for "birthday"

@dataclass
class personclass:
    firstname: str
    lastname: str
    birthday: str = 'unknown'

In [20]:
michele = personclass('Michele', 'Vallisneri')

In [21]:
michele

personclass(firstname='Michele', lastname='Vallisneri', birthday='unknown')

In [22]:
michele = personclass(firstname='Michele', lastname='Vallisneri')

In [23]:
michele.firstname, michele.lastname, michele.birthday

('Michele', 'Vallisneri', 'unknown')

In [24]:
try:
    michele[0]
except Exception as e:
    print("Error: ",e)

Error:  'personclass' object is not subscriptable

In [25]:
print(michele)

personclass(firstname='Michele', lastname='Vallisneri', birthday='unknown')

In [26]:
# updating the data class "personclass" so that it can compute a person's full name

@dataclass
class personclass2:
    firstname: str
    lastname: str
    birthday: str = 'unknown'
    
    # all methods in a class carry a conventional argument "self";
    # when the methods are called on an instance (here, a specific person),
    # "self" points the instance itself, so self.firstname and self.lastname
    # are the data fields in that instance
    def fullname(self):
        return self.firstname + ' ' + self.lastname

In [27]:
michele = personclass2('Michele', 'Vallisneri', 'July 15')

In [28]:
michele.fullname()

'Michele Vallisneri'

In [29]:
# creating a dict where a key maps to a list requires awkward code
# to create the list when a key is first seen...

birthdays = {}

for person in namedpeople:
    if person.birthday in birthdays:
        birthdays[person.birthday].append(person.firstname)
    else:
        birthdays[person.birthday] = [person.firstname]

In [30]:
birthdays

{'July 15': ['Michele', 'Jocelyn'],
 'March 14': ['Albert'],
 'October 9': ['John']}

In [31]:
list()

[]

In [32]:
# ...but it happens elegantly with defaultdict

birthdays = collections.defaultdict(list)

for person in namedpeople:
    birthdays[person.birthday].append(person.firstname)

In [33]:
birthdays

defaultdict(list,
            {'July 15': ['Michele', 'Jocelyn'],
             'March 14': ['Albert'],
             'October 9': ['John']})

# Practice

# namedtuple

In [34]:
from collections import namedtuple

In [35]:
info = namedtuple('StudentInfo', 'firstname lastname dob school')

In [36]:
a = info('mansoor', 'bukhari', '5-4-2004', 'Degree Collage Kahuta')

In [37]:
a

StudentInfo(firstname='mansoor', lastname='bukhari', dob='5-4-2004', school='Degree Collage Kahuta')

In [38]:
a.firstname

'mansoor'

In [39]:
a.dob

'5-4-2004'

In [40]:
a.school

'Degree Collage Kahuta'

`In named tuple first we give class name and then parameters, then in objects we pass values which we watn to pass`

In [41]:

# Convert it into list
b = info._make(['asad','bashir','3-2-2001','UAJK'])

In [42]:
b

StudentInfo(firstname='asad', lastname='bashir', dob='3-2-2001', school='UAJK')

In [43]:
b.firstname

'asad'

In [44]:
b[0]

'asad'

## Deque

deque pronounced as a `deck` is an optimized version of list which made insertion and deletion too easy

In [45]:
name = ["Mansoor", "Asad", "Wajid"]

In [46]:
from collections import deque

In [47]:
name = deque(name)

In [48]:
name.append('Sabir') # It append element at last of list

In [49]:
name

deque(['Mansoor', 'Asad', 'Wajid', 'Sabir'])

In [50]:
name.appendleft("Saad") # It append element at start of list

In [51]:
name

deque(['Saad', 'Mansoor', 'Asad', 'Wajid', 'Sabir'])

In [52]:
name.pop() # Remove element from last

'Sabir'

In [53]:
name.popleft() # remove element from start

'Saad'

In [54]:
name

deque(['Mansoor', 'Asad', 'Wajid'])

In [55]:
name.reverse() # Reverse list

In [56]:
name

deque(['Wajid', 'Asad', 'Mansoor'])

In [57]:
name.extend(('Saad','Hamza')) # extend name at last

In [58]:
name

deque(['Wajid', 'Asad', 'Mansoor', 'Saad', 'Hamza'])

In [59]:
name.extendleft(("Hamamd",'Kashan')) # Extend element at start

In [60]:
name

deque(['Kashan', 'Hamamd', 'Wajid', 'Asad', 'Mansoor', 'Saad', 'Hamza'])

# Chainmap

chainmap is a dictionary like class for creating a single view of multiple mappng

In [61]:
    from collections import ChainMap

In [62]:
a = {'name':'Mansoor'}
b = {'university':"University of Azad Kashmir"}

In [63]:
c = ChainMap(a,b)

In [64]:
c

ChainMap({'name': 'Mansoor'}, {'university': 'University of Azad Kashmir'})

In [65]:
c.parents

ChainMap({'university': 'University of Azad Kashmir'})

In [66]:
c.new_child(('City',"Kashimr"))

ChainMap(('City', 'Kashimr'), {'name': 'Mansoor'}, {'university': 'University of Azad Kashmir'})

# Counter
counter is also a dictionary like class for counting hashable objects

In [67]:
from collections import Counter

In [68]:
a = [1,2,3,4,5,6,2,3,4,5,3,4,5,6,6,5,43,2,3,4,5,6,7,2,1,7,8,5,56]

In [69]:
c = Counter(a) # it tells us that which element occurs at how many time

In [70]:
# lets verify
print(list(c.elements()))

[1, 1, 2, 2, 2, 2, 3, 3, 3, 3, 4, 4, 4, 4, 5, 5, 5, 5, 5, 5, 6, 6, 6, 6, 43, 7, 7, 8, 56]

In [71]:
c.most_common()

[(5, 6),
 (2, 4),
 (3, 4),
 (4, 4),
 (6, 4),
 (1, 2),
 (7, 2),
 (43, 1),
 (8, 1),
 (56, 1)]

In [72]:
c

Counter({5: 6, 2: 4, 3: 4, 4: 4, 6: 4, 1: 2, 7: 2, 43: 1, 8: 1, 56: 1})

In [73]:
c.values()

dict_values([2, 4, 4, 4, 6, 4, 1, 2, 1, 1])

In [74]:
c.clear()

In [75]:
c

Counter()

## OrderedDict
It is a type of dictionary which remembers order inwhich elements are inserted

In [76]:
from collections import OrderedDict

In [77]:
o = OrderedDict()

In [78]:
o[1] = "A"
o[2] = 'a'
o[3] = 'a'
o[4] = 'd'

In [79]:
o

OrderedDict([(1, 'A'), (2, 'a'), (3, 'a'), (4, 'd')])

In [80]:
o[1] = 'S'

In [81]:
o

OrderedDict([(1, 'S'), (2, 'a'), (3, 'a'), (4, 'd')])

# defaultdict
Default dictionary is a dictionary subclass which calls a factory function when supply a missing value

In [82]:
from collections import defaultdict
a = defaultdict()

In [83]:
a['name'] = "Mansoor"
a['age'] = 21

In [84]:
a

defaultdict(None, {'name': 'Mansoor', 'age': 21})