# 02_03: Dictionaries and Sets

In [1]:
import math
import collections

import numpy as np
import pandas as pd
import matplotlib.pyplot as pp

%matplotlib inline

In [2]:
capitals = {'United States': 'Washington, DC', 'France': 'Paris', 'Italy': 'Rome'}

In [3]:
capitals

{'United States': 'Washington, DC', 'France': 'Paris', 'Italy': 'Rome'}

In [4]:
capitals['Italy']

'Rome'

In [5]:
capitals['Spain'] = 'Madrid'

In [6]:
capitals

{'United States': 'Washington, DC',
 'France': 'Paris',
 'Italy': 'Rome',
 'Spain': 'Madrid'}

In [7]:
# Check wheter it give output on not present value
try:
    print(capitals['Germany'])
except KeyError:
    print(f'Error; Key is not present')

Error; Key is not present

In [8]:
'Germany' in capitals, 'Italy' in capitals

(False, True)

In [9]:
morecapitals = {'Germany': 'Berlin', 'United Kingdom': 'London'}

In [10]:
# Try wheter we concatenate two dict
try:
    capitals + morecapitals
except Exception as e:
    print(f'Error: {e}')

Error: unsupported operand type(s) for +: 'dict' and 'dict'

In [11]:
capitals.update(morecapitals)

In [12]:
capitals

{'United States': 'Washington, DC',
 'France': 'Paris',
 'Italy': 'Rome',
 'Spain': 'Madrid',
 'Germany': 'Berlin',
 'United Kingdom': 'London'}

In [13]:
del capitals['United Kingdom']

In [14]:
capitals

{'United States': 'Washington, DC',
 'France': 'Paris',
 'Italy': 'Rome',
 'Spain': 'Madrid',
 'Germany': 'Berlin'}

In [15]:
birthdays = {(7,15): 'Michele', (3,14): 'Albert'}

In [16]:
birthdays[(7,15)]

'Michele'

In [17]:
hash('Italy')

-600216043501605646

In [18]:
hash((7,15))

-2471369287409462312

In [19]:
{}

{}

In [20]:
len({})

0

In [21]:
for country in capitals:
    print(country)

United States
France
Italy
Spain
Germany

In [22]:
for country in capitals.keys():
    print(country)

United States
France
Italy
Spain
Germany

In [23]:
capitals.keys()

dict_keys(['United States', 'France', 'Italy', 'Spain', 'Germany'])

In [24]:
list(capitals.keys())

['United States', 'France', 'Italy', 'Spain', 'Germany']

In [25]:
for capital in capitals.values():
    print(capital)

Washington, DC
Paris
Rome
Madrid
Berlin

In [26]:
for country, capital in capitals.items():
    print(country, capital)

United States Washington, DC
France Paris
Italy Rome
Spain Madrid
Germany Berlin

In [27]:
continents = {'America', 'Europe', 'Asia', 'Oceania', 'Africa', 'Africa'}

In [28]:
continents

{'Africa', 'America', 'Asia', 'Europe', 'Oceania'}

In [29]:
'Africa' in continents

True

In [30]:
continents.add('Antarctica')

In [31]:
continents.remove('Antarctica')

In [32]:
for c in continents:
    print(c)

Africa
Oceania
Asia
Europe
America

In [38]:
# Create two dict and add them into third one
result = {'Asad':"Pass", 'Umar':'Pass'}
result1 = {'Umair':"Pass",'Haziq':"Fail"}
result2 = result.copy() # We create a copy of first dictionary, we can also assign it if we did so it reflect changing to parent, thats why to avoid from this we create copy

In [34]:
result2

{'Asad': 'Pass', 'Umar': 'Pass'}

In [39]:
result2.update(result1) # Just update result2 and result1 added into it

In [36]:
result2

{'Asad': 'Pass', 'Umar': 'Pass', 'Umair': 'Pass', 'Haziq': 'Fail'}

In [37]:
result

{'Asad': 'Pass', 'Umar': 'Pass'}

In [43]:
for count, (key, value) in enumerate(result2.items(), start=1):
    print(count, ' ', key, ' ',value)

1   Asad   Pass
2   Umar   Pass
3   Umair   Pass
4   Haziq   Fail