# 02_02: Lists, Tuples, and the Slicing Syntax

In [1]:
import math
import collections

import numpy as np
import pandas as pd
import matplotlib.pyplot as pp

%matplotlib inline

In [2]:
nephews = ["Huey", "Dewey", "Louie"] # List

In [3]:
nephews

['Huey', 'Dewey', 'Louie']

In [4]:
len(nephews) # Count length of list

3

In [5]:
nephews[0] # First element of list

'Huey'

In [6]:
nephews[2]

'Louie'

In [7]:
# List index out of range
try:
    nephews[3]
except Exception as e:
    print(f'Error: {e}')

Error: list index out of range

In [8]:
nephews[-1], nephews[-2] # Negivtive Indexing

('Louie', 'Dewey')

In [9]:
for i in range(3):
    nephews[i] = nephews[i] + ' Duck' # Add Duck with each element at the end of list elements

In [10]:
nephews

['Huey Duck', 'Dewey Duck', 'Louie Duck']

In [11]:
mix_it_up = [1, [2,3], 'alpha'] # Mix list

In [12]:
mix_it_up

[1, [2, 3], 'alpha']

In [13]:
nephews.append('April Duck') # add element at the end of list

In [14]:
nephews

['Huey Duck', 'Dewey Duck', 'Louie Duck', 'April Duck']

In [15]:
nephews.extend(['May Duck','June Duck']) # Add multiple element at the end of list

In [16]:
nephews

['Huey Duck',
 'Dewey Duck',
 'Louie Duck',
 'April Duck',
 'May Duck',
 'June Duck']

In [17]:
ducks = nephews + ['Donald Duck','Daisy Duck'] # list concatenation

In [18]:
ducks

['Huey Duck',
 'Dewey Duck',
 'Louie Duck',
 'April Duck',
 'May Duck',
 'June Duck',
 'Donald Duck',
 'Daisy Duck']

In [19]:
ducks.insert(0, 'Scrooge McDuck') # Add at a specific position

In [20]:
ducks

['Scrooge McDuck',
 'Huey Duck',
 'Dewey Duck',
 'Louie Duck',
 'April Duck',
 'May Duck',
 'June Duck',
 'Donald Duck',
 'Daisy Duck']

In [21]:
del ducks[0] # Del first element from list

In [22]:
ducks

['Huey Duck',
 'Dewey Duck',
 'Louie Duck',
 'April Duck',
 'May Duck',
 'June Duck',
 'Donald Duck',
 'Daisy Duck']

In [23]:
ducks.remove('Donald Duck') # Remove specific elemnet from lsit

In [24]:
ducks

['Huey Duck',
 'Dewey Duck',
 'Louie Duck',
 'April Duck',
 'May Duck',
 'June Duck',
 'Daisy Duck']

In [25]:
ducks.sort() # Sort

In [26]:
ducks

['April Duck',
 'Daisy Duck',
 'Dewey Duck',
 'Huey Duck',
 'June Duck',
 'Louie Duck',
 'May Duck']

In [27]:
ducks.sort(reverse=True) # reverse sort

In [28]:
ducks

['May Duck',
 'Louie Duck',
 'June Duck',
 'Huey Duck',
 'Dewey Duck',
 'Daisy Duck',
 'April Duck']

In [29]:
reverse_ducks = sorted(ducks, reverse=True)

In [30]:
reverse_ducks

['May Duck',
 'Louie Duck',
 'June Duck',
 'Huey Duck',
 'Dewey Duck',
 'Daisy Duck',
 'April Duck']

In [31]:
squares = [1,4,9,16,25,36,49]

In [32]:
squares[0:2]

[1, 4]

In [33]:
squares[:4]

[1, 4, 9, 16]

In [34]:
squares[3:]

[16, 25, 36, 49]

In [35]:
squares[:]

[1, 4, 9, 16, 25, 36, 49]

In [36]:
squares[0:7:2]

[1, 9, 25, 49]

In [37]:
squares[-3:-1]

[25, 36]

In [38]:
squares[2:4] = ['four', 'nine']

In [39]:
squares

[1, 4, 'four', 'nine', 25, 36, 49]

In [40]:
del squares[4:6]

In [41]:
squares

[1, 4, 'four', 'nine', 49]

In [42]:
len([])

0

In [43]:
integers = ('one', 'two', 'three', 'four')

In [44]:
integers

('one', 'two', 'three', 'four')

In [45]:
integers[-1], integers[1:3]

('four', ('two', 'three'))

In [46]:
# Tuple objects does not support assignment, So it show errors
try:
    integers[0] = 1 
except Exception as e:
    print(f'Error {e}')

Error 'tuple' object does not support item assignment

In [47]:
(a, b) = (1, 2)

In [48]:
c, d = 3, 4

In [49]:
for i, duck in enumerate(ducks):
    print(i, duck)

0 May Duck
1 Louie Duck
2 June Duck
3 Huey Duck
4 Dewey Duck
5 Daisy Duck
6 April Duck

In [50]:
def three_args(a, b, c):
    print(a, b, c)

In [51]:
my_args = (1,2,3)

In [52]:
three_args(*my_args)

1 2 3

In [53]:
newList = ['Ahmad','asad','Haroon']

In [54]:
newList.sort()

In [55]:
print(newList)

['Ahmad', 'Haroon', 'asad']

In [56]:
newList.sort(reverse=True)

In [57]:
print(newList)

['asad', 'Haroon', 'Ahmad']

In [58]:
sorted(newList)

['Ahmad', 'Haroon', 'asad']