**LOOPS in Python:** Sometimes a programmer wants to 
execute  a group of statements a certain number 
of times. This can be done using loops.

**FOR LOOP:** for loops can be iterate over a sequence
of iterable objects in python. Iterating over a 
sequence is nothing but iterating over strings,
lists, tuples, sets and dictionaries.

In [1]:
name = "Mansoor"
for i in name:
    print(i, end="")
    if i == 'u':
        print("This is amazing")

Mansoor

In [2]:
colors = ["Red", "Green", "Blue", "Yellow", "Magenta", "voilet", "indigo"]
for x in colors:
	print(x)

Red
Green
Blue
Yellow
Magenta
voilet
indigo

In [3]:
#For More readable:
colors = ["Red", "Green", "Blue", "Yellow", "Magenta", "voilet", "indigo"]
for color in colors:
    print(color)
    for i in color:
        print(i)

Red
R
e
d
Green
G
r
e
e
n
Blue
B
l
u
e
Yellow
Y
e
l
l
o
w
Magenta
M
a
g
e
n
t
a
voilet
v
o
i
l
e
t
indigo
i
n
d
i
g
o

**RANGE():** What if we dont want to iterate  over a 
sequence? what if we want to use for loop for a 
specific number of times?

In [4]:
for k in range(5):
	print(k)

0
1
2
3
4

In [5]:
for k in range(5):#This will print upto 5 from 1
	print(k+1)

1
2
3
4
5

In [6]:
for k in range(1,5):
	print(k)

1
2
3
4

In [7]:
for k in range(-10,10):
	print(k)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1
0
1
2
3
4
5
6
7
8
9

In [8]:
for k in range(0,-10, -1):
	print(k)

0
-1
-2
-3
-4
-5
-6
-7
-8
-9

In [10]:
for k in range(1,15,2): # floating steps not working
    print(k+1)	#Print(Even Numbers upto 15)

2
4
6
8
10
12
14

In [11]:
for k in range(1,15,2):
    print(k)	#Print (odd Numbers upto 15)

1
3
5
7
9
11
13

In [13]:
name = "Mansoor"
for k in name[::-1]:
    print(k)

r
o
o
s
n
a
M

**WHILE LOOPS:** As the name suggests, while loops 
execute statments while the condition is True. As
soon as the condition become False, the interpreter
comes out of the whie loop.

In [14]:
x = 0
while(x<5):	#Check for all conditional signs
	print(x)
	x=x+1
print("Done with the Loop")

0
1
2
3
4
Done with the Loop

In [15]:
count = 15
while (count>0):
	print(count)
	count = count-1

15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [16]:
# Now taking input from user in while loop.
x = int(input("Enter the Value: "))
while(x<=38):
    x = int(input("Enter the Value: "))
    print(x)
print("Limit exceeds")

Enter the Value:  43

Limit exceeds

**Actually DO while loop is not available in python
coz instead of do while loop we do the above 
programming to fulfill our criteria'**.

In [23]:
while True:
    num = int(input("Enter the Number: "))
    print(num)
    if not num>0:
        break

Enter the Number:  43

43

Enter the Number:  0

0

**ELSE With WHILE LOOP:**
As soon as the while loop condition is true it will
print the values in while loop. When the condition
of while loop false then it will print out the else
statement.

In [24]:
x=5
while(x>0):
	print(x)
	x=x-1
else:
	print("I  am Inside Else Block")

5
4
3
2
1
I  am Inside Else Block

In [25]:
x=-5
while(x>0):
	print(x)
	x=x-1
else:
	print("I  am Inside Else Block")

I  am Inside Else Block

**Break & Continue Statement:**
The break statement enables a program to skip over 
a part of code. A break statement terminates the 
very loop it lies within.

**Break:** Break statement left the loop and get out
of the loop.

In [26]:
for i in range(12):
    print("5 X ", i+1, "=", 5 * (i+1))
    if(i==9):	#Upto to 10 only.
        break
print("Left the loop and get out of the loop")

5 X  1 = 5
5 X  2 = 10
5 X  3 = 15
5 X  4 = 20
5 X  5 = 25
5 X  6 = 30
5 X  7 = 35
5 X  8 = 40
5 X  9 = 45
5 X  10 = 50
Left the loop and get out of the loop

**Continue:** Left the iteration and get out of loop.

In [27]:
for i in range(12):
    if(i==9):	#Upto to 10 only.
        print("Skip the Iteration")
        continue
    print("5 X ", i+1, "=", 5 * (i+1))

5 X  1 = 5
5 X  2 = 10
5 X  3 = 15
5 X  4 = 20
5 X  5 = 25
5 X  6 = 30
5 X  7 = 35
5 X  8 = 40
5 X  9 = 45
Skip the Iteration
5 X  11 = 55
5 X  12 = 60

In [28]:
for i in range(12):
    print("5 X ", i+1, "=", 5 * (i+1))

5 X  1 = 5
5 X  2 = 10
5 X  3 = 15
5 X  4 = 20
5 X  5 = 25
5 X  6 = 30
5 X  7 = 35
5 X  8 = 40
5 X  9 = 45
5 X  10 = 50
5 X  11 = 55
5 X  12 = 60

In [29]:
for i in range(1,101,1):
    print(i, end= " ")
    if(i==50):
        break
    print("Mission Passed")
print("Thank You")

1 Mission Passed
2 Mission Passed
3 Mission Passed
4 Mission Passed
5 Mission Passed
6 Mission Passed
7 Mission Passed
8 Mission Passed
9 Mission Passed
10 Mission Passed
11 Mission Passed
12 Mission Passed
13 Mission Passed
14 Mission Passed
15 Mission Passed
16 Mission Passed
17 Mission Passed
18 Mission Passed
19 Mission Passed
20 Mission Passed
21 Mission Passed
22 Mission Passed
23 Mission Passed
24 Mission Passed
25 Mission Passed
26 Mission Passed
27 Mission Passed
28 Mission Passed
29 Mission Passed
30 Mission Passed
31 Mission Passed
32 Mission Passed
33 Mission Passed
34 Mission Passed
35 Mission Passed
36 Mission Passed
37 Mission Passed
38 Mission Passed
39 Mission Passed
40 Mission Passed
41 Mission Passed
42 Mission Passed
43 Mission Passed
44 Mission Passed
45 Mission Passed
46 Mission Passed
47 Mission Passed
48 Mission Passed
49 Mission Passed
50 Thank You

In [30]:
for i in [2,3,9,4,5,6,8,0]:
	if(i%2==0):
		continue
	print(i)

3
9
5

In [31]:
i=0
while True:
	print(i)
	i=i+1
	if(i%100 == 21):
	  break

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20