## TYPE CASTING:
**The conversion of one Data Type into another Data type is known as Type Casting.**
python supports a wide variety of functions or methods like: `int(), float(), str(), ord(), tuple(),
list(), set(), dict(), hex(), oct()` etc.
the data type should be valid.

In [1]:
a = '1'
b = '2'
print(a+b)

12

### Types of type casting:
1) **Explicit Type casting or explicit conversion: The conversion of one data type into another data type, done via developer or programmer's intervention or manually as per the requirement, is known as explicit type casting.** Can be achieved by the Python's Built in functions: `ord(), str(), float(), hex()` etc.

In [2]:
a = int(a)
b = int(b)
print(a+b)

3

In [3]:
string = "13"
number = 7
str_num = int(string)   #change the string into number.
sum = number + str_num
print("The sum of two numbers is: " ,sum)

The sum of two numbers is:  20

**2) Implicit Type casting or implicit conversion: The Data types in python do not have the same level i.e. ordering of data types is not the same in python. some have higher level while some have lower level.According to this level, one data type is converted into other by the Python Interpreter itself (Automatically).** 
`THis is called the implicit type casting.`

In [6]:
a = 4.5
print(type(a))
b = 5
print(type(b))
c = a+b
print(c)
print(type(c))

<class 'float'>
<class 'int'>
9.5
<class 'float'>

## Arrays of Character

In [1]:
name = "Mansoor"
for i in name:
    print(i)

M
a
n
s
o
o
r

In [2]:
name[0]

'M'

In [3]:
name[-1]

'r'

In [4]:
name[0:5]

'Manso'

In [5]:
name[0:-1]

'Mansoo'

In [6]:
name[0:7:2]

'Mnor'

**Note:** A list or array start from 0, and while giving range to print, first value is included and last is not included. Like i give range name[0:5] in it first is included like M, while last is not included.

### Method and functions of String

**len():** We can find the length of string using len() function

In [7]:
name = "Mansoor Bukhari"
print(len(name))

15

## slicing

**Positive Slicing:**

In [15]:
name = "Mango"
MLen = len(name)
print(MLen)
print(name[0:4]) # 	#Will print the first four letter
print(name[:4])   # 	#auto zero will be assigned by the python itself
print(name[2:5]) #   	#it will start from N and end with O.
print(name[:]) #		#It will auto print the whole name.

5
Mang
Mang
ngo
Mango

**Negative Slicing:**

In [9]:
name = "Mango"
MLen = len(name)
print(name[:-4])    #output will be only M, it subtract whole length from given value
print(name[:len(name)-4])    #output will be only M, it subtract whole length from given value

M
M

## Loop Through String

In [12]:
alpha = "ABCD"

In [10]:
for i in alpha:
print(i) # 	#output will be A B C D but in line.

IndentationError: expected an indented block (4101600000.py, line 3)

**Quick Note:** We cannot left empty the loop. In one loop block if we want to give nothing, at least we need to use keyword pass or break with four spaces or tab

In [13]:
for i in alpha:
    print(i)

A
B
C
D